body{
    background-color: #0b1d26;
    color: white;
    font-family: sans-serif;
}
.col{
    font-family: sans-serif;
}
.main{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.nav1{
    display: flex;
}
.e{
    margin-right: 3%;
}
.nav{
    justify-content: space-between;
    width: 100%;
    padding-top: 1.5%;
}
.c_nav{
    justify-content: space-around;

}
.e_nav{
    justify-content: end;
    margin-right: 1.5%;
}
.nav_direct{
    max-width: 100%;
    z-index: 1;
    position: relative;
}
.imag{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 60%;   
}
.clouds{
    background-image: url(images/Clouds.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.imag1{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 350px;
}
.Mountains{
    background-image: url(images/Mountain.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.imag2{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 550px;
}
.downMountains{
    background-image: url(images/downMountain.png);
    background-repeat: no-repeat;
    background-position: 35% top;
    background-size: cover;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

}
.logo{
    margin-left: 2%;
    font-size: 1.5rem;
}
.rectangle{
    color: #ffdd44;
    font-family: sans-serif;
    letter-spacing: 6px;
    text-align: center;
    align-items: center;
}
.rectangle-img{
    height: 3px;
    margin-bottom: 10px;
    margin-right: 25px;
    
}
.sec_block{
    margin-top: 10%;
    max-width: 100%;
    position: relative;
}
.block1{
    margin-top: 60px;
}
.block2{
    text-align: start;
    width: 150%;
}
.block3{
    align-items: end;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 60px;
}
.mini_block1{
    justify-content: flex-end;
    display: flex;
    width: 50%;
}
.slogan{
    font-size: 4rem;
}
.nums ul{
    list-style: none;
    text-align: start;
    margin-right: 10px;
    margin-top: 10px;
    gap: 35px;
    display: flex;
    flex-direction: column;
}
.social-text{
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.social-text p{
    margin-left: 20px;
}
.img-size{
    width: 10px;
}
.scroll{
    font-size: 1.5rem;
}
.gradient{
    background: linear-gradient(to top, #0b1d26, rgba(7, 19, 26, 0));
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.content1{
    margin-top: 10%;
}
.cifri{
    position: absolute;
}
.zagolov{
    display: flex;
}
.zagolov1{
    margin-left: 3.5%;
    color: #ffdd44;
}
.zagolov1 p{
    letter-spacing: 6px;
}
.mini-content{
    font-size: 400%;
}
.link{
    text-decoration: none;
    color: #ffdd44;
}
.mini-images{
    width: 100%;
}
.cifri1{
    position: absolute;
}
.content2{
    margin-top: 10%;
}
.image-r{
    padding-left: 100px;
}
.image-l{
    padding-right: 150px;
}
.sect1{
    padding-left: 100px;
}
.content3{
    margin-top: 10%;
}
