.dict{
    width: auto;
    display: flex;
    flex-direction: column;
}
.deliv{
    text-align: center;
}
.comment{
    resize: none;
    width: 216px;
    height: 120px;
}
.text{
    text-align: right;
}
.content{
    margin: auto;
    text-align: center;
}
.deliv_choise{
    margin-left: 34px;
}

